<div *ngIf="!(af.authState | async)" class="jumbotron text-center">
  <div class="container">
    <h1>논문투고 시스템</h1>
    <p>로그인 후, 대한치과의료관리학회에 논문을 투고하세요.</p>
    <a (click)="login()"><img src="assets/img/sign-in-with-google.png"></a>
  </div>
</div>

<div *ngIf="(af.authState | async)" class="jumbotron text-center">
  <div class="container">
    <h1>로그인 되었습니다.</h1>
    <p>상단의 <a class="btn btn-default" [routerLink]="['/addlistings']">논문 투고</a> 버튼을 눌러서 논문을 제출해주세요.</p>
    <p>제출된 논문은 <a class="btn btn-default" [routerLink]="['/listings']">투고된 논문</a>에서 확인할 수 있습니다.</p>
    <blockquote><h4>하단의 투고규정을 반드시 확인하신 후, 제출할 논문과 저작권 양도 합의서를 하나의 파일로 압축해서 업로드해 주시기 바랍니다.</h4></blockquote>
  </div>
</div>

<div class="jumbotron text-center">
  <div class="container">
    <a href="http://kadap.or.kr/images/works/JKADA-instructionstoauthors.pdf">
    <button type="button" class="btn btn-info btn-lg">
    투고 규정</button></a>
    <a href="http://kadap.or.kr/images/works/JournalLicenseAgreementForm.pdf">
    <button type="button" class="btn btn-info btn-lg">저작권 양도 합의서</button></a>
  </div>
</div>
